<%- include('../partials/header'); %>

<!-- Begin Page Content -->
<div class="container">
    <div class="row justify-content-center mb-3">

        <!-- Login Text -->
        <h4 class="text-center mb-3 border-bottom pb-2">Add Family</h4>

        <form action="/add-family" method="POST" class="validation user">
            <div class="form-row">
                <div class="form-group col-lg-4 col-md-4">
                    <input type="text" class="form-control" name="fname" placeholder="Enter Family First Name" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <input type="text" class="form-control" name="lname" placeholder="Enter Family Last Name" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <input type="text" class="form-control" name="dob" id="datepicker" placeholder="Enter Date of Birth" data-rule="required" data-msg="Please enter date of birth">
                    <div class="validate"></div>
                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script> 
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <input type="text" class="form-control" name="nic" placeholder="Enter NIC Number">
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <input type="email" class="form-control" name="email" placeholder="Enter Email">
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <input type="text" class="form-control" name="mobile" placeholder="Enter Mobile Number">
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <select name="religion" class="form-control custom-select" required>
                        <option value="" disabled selected>Choose Religion</option>
                        <option value="1">Hinduism</option>
                        <option value="2">Christianity</option>
                        <option value="3">Buddhism</option>
                        <option value="4">Islam</option>
                    </select>
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <select name="ethnic" class="form-control custom-select" required>
                        <option value="" disabled selected>Choose Ethnic</option>
                        <option value="1">Tamils</option>
                        <option value="2">Sinhalese</option>
                        <option value="3">Indian Tamils</option>
                        <option value="4">Muslims</option>
                    </select>
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <input type="text" class="form-control" name="job" placeholder="Enter your Job">
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <input type="text" class="form-control" name="monthlyIncome" placeholder="Enter Monthly Income">
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <select name="gnDivision" class="form-control custom-select" required data-rule="required" data-msg="Please select one">
                        <option value="" disabled selected>Choose GN Division</option>
                        <option value="1">Barathinagar</option>
                        <option value="2">Pugalenthinagar</option>
                    </select>
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <select name="dsDivision" class="form-control custom-select" required data-rule="required" data-msg="Please select one">
                        <option value="" disabled selected>Choose DS Division</option>
                        <option value="1">Thunukkai</option>
                        <option value="2">Pandiyankulam</option>
                    </select>
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <textarea type="text"  class="form-control" name="temporaryAddress" placeholder="Enter Temporary Address"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <textarea type="text"  class="form-control" name="permanentAddress" placeholder="Enter Permanent Address"></textarea>
                    <div class="validate"></div>
                </div>
            </div>
      
            <div class="mb-3">
                <div id="check"></div>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Registered Successfully!</div>
            </div>
            <div class="m-auto col-lg-3">
                <button type="submit" class="btn btn-primary btn-user btn-block"> Create</button>  
            </div>
                
        </form>
    </div>
</div>

<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<%- include('../partials/footer'); %>