<%- include('../partials/header'); %>

<!-- Begin Page Content -->
<div class="container">
 
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<%- include('../partials/footer'); %>